<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Flowchart</title>
	<meta name="description" content="Workflow Manager"/>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<link href="css/schema-form-file.css" media="all" rel="stylesheet"/>
	<link href="css/angular-growl.min.css" rel="stylesheet" media="screen"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script type="text/javascript"
			src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-sanitize.js"
			type="text/javascript"></script>
	<script src="scripts/angular-growl.min.js"></script>
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script
			src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

	<script type="text/javascript" src="scripts/dist/tv4.js"></script>
	<script type="text/javascript" src="scripts/dist/ObjectPath.js"></script>
	<script type="text/javascript"
			src="scripts/dist/angular-schema-form.js"></script>
	<script type="text/javascript"
			src="scripts/dist/angular-schema-form-bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.29/go.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

	<script type="text/javascript" src="scripts/dist/ng-file-upload-all.js"></script>
	<script type="text/javascript" src="scripts/dist/angular-messages.js"></script>
	<script src="scripts/dist/bootstrap-decorator.min.js"
			type="text/javascript"></script>
	<script type="text/javascript" src="scripts/dist/angular-translate.js"></script>

	<script type="text/javascript" src="scripts/dist/schema-form-file.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/directives.js"></script>
	<script type="text/javascript" src="scripts/services.js"></script>
	<script type="text/javascript" src="scripts/controllers.js"></script>
	<script type="text/javascript"
			src="scripts/controllers/formController.js"></script>
</head>

<body ng-app="WorkflowManager" ng-controller="DiagramCtrl"
	  ng-init="init();">
<div class="wrapper">
	<header>
		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<!-- Brand -->
			<a class="navbar-brand" href="FirstPage.html">Workflow Manager</a>

			<!-- Toggler/collapsibe Button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navbar links -->
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				</ul>
				<li>
				<li class="nav-item">
					<button id="SaveButton" ng-click="save()" class="btn btn-info"><b>Save</b></button>
				</li>
				<li class="nav-item">
					<button ng-click="runWorkflow()" class="btn btn-info"><b>Run</b></button>
				</li>
				</ul>
			</div>
		</nav>
	</header>
	<div growl></div>
	<!--  Main Container code start -->
	<main>
		<div class="container-fluid full-height">
			<div class="row">

				<div id="myPaletteDiv" class="col-sm-2"
					 style="background-color: whitesmoke; border: solid 1px black"></div>
				<div
						style="position: relative; padding-left: 0px; padding-right: 0px;"
						class="col-sm-10">
					<div id="myDiagramDiv" class="col-sm-12"
						 style="flex-grow: 1; height: 85vh; border: solid 1px black"></div>
					<div id="contextMenu">
						<ul>
							<!-- <li id="cut" ng-click="cxcommand($event)">
                            <a href="#" target="_self">Cut</a>
                        </li>
                        <li id="copy" ng-click="cxcommand($event)">
                            <a href="#" target="_self">Copy</a>
                        </li>
                        <li id="paste" ng-click="cxcommand($event)">
                            <a href="#" target="_self">Paste</a>
                        </li> -->

							<li id="componentConfig" ng-click="cxcommand($event)">
								<a href="#" target="_self">Config</a>
							</li>
							<li id="componentInput" ng-click="cxcommand($event)">
								<a href="#" target="_self">Input</a>
							</li>
							<li id="componentOutput" ng-click="cxcommand($event)">
								<a href="#" target="_self">Output</a>
							</li>
							<li id="delete" ng-click="cxcommand($event)">
								<a href="#" target="_self">Delete</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer bg-dark" style="margin-top: 0px;">
		<div class="container">
			<span class="text-muted text-center font-weight-bold">@Workflow Manager, All rights reserved.</span>
		</div>
	</footer>
</div>
<!-- Main container code ends here -->
<div ng-include="'files/newWorkflowModal.html'"></div>
<div ng-include="'files/loadWorkflowModal.html'"></div>
<div ng-include="'files/welcomePage.html'"></div>
<div ng-include="'files/inputModal.html'"></div>


<!--Config Modal Start-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{selectedComponent.category}} Configuration</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body" id="modalContent">
				<div class="row">
					<div class="col-md-12">
						<div class="container-fluid">
							<!-- Dynamic Form Generation -->
							<form name="myForm" sf-schema="schema" sf-form="form"
								  sf-model="model" ng-submit="onSubmit(myForm)"></form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal End -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

</body>
</html>
